*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

html{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background-color: #edf6f9;
  font-family: 'Raleway', sans-serif;
}

.popup-start{
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
  
}

.main-box-of-popup{
  background-color: #edf6f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border-style: solid;
  border-color: #00454b;
  
}  

.text-of-header{
  padding: 15px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.mini-input{
  margin-bottom: 15px;
}
 
.startGame{
  margin-bottom:15px ;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  border-style: solid;
  border-color: #00454b;
  background-color: #d7ecea;
  color: #006d77;
}

.input-of-popup{
  font-size: 20px;
  border-radius: 10px;
  border-style: none;
  padding-left: 5px;
}

.header{
  font-size: 80px;
  padding: 10px;
  width: 100%;
  text-align: center;
  background-color: #83c5be;
}

.name-of-player{
  min-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 40px;
  margin-top: 25px;
}

.footer{
  margin-top: auto;
  text-align: center;
}

.main{
  margin-top: 25px;
}

.board-game{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.box{
  width: 150px;
  height: 150px;
  /* padding: 80px; */
  border-style: solid;
  cursor: pointer;
  font-size: 80px;
  text-align: center;
  display: grid;
  align-items: center;
  color: #006d77;
  margin: -2px;
  background-color: #d7ecea;
  border-color: #00454b;

  
}
.box:hover{
  background-color: #afd4d1;
}

.restart-btn{
  font-size: 40px;
  padding: 10px;
  margin-top: 50px;
  border-radius: 15px;
  border-style: solid;
  border-color: #00454b;
  background-color: #d7ecea;
  color: #006d77;
  /* display: flex; */
  display: none;
}
.restart-btn:hover{
  background-color: #afd4d1;
  cursor: pointer;
}


@media(max-width:600px){
  .text-of-header{
    font-size: 24px;
    padding: 20px;
    text-align: center;
  }
  .form{
    padding: 0px 20px 0px 20px ;
  }
  .startGame{
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    color: black;
  }

  .header{
    font-size: 52px;
  }

  .name-of-player{
    font-size: 28px;
    min-width: 350px;
  }

  .box{
    font-size: 60px;
    width: 100px;
    height: 100px;
  }

  .box:hover{
    background-color: #d7ecea;
  }
  .restart-btn{
    font-size: 28px;
  }
}